<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container">

        <div class="row background-container">

            <% if (data.length === 0) { %>
                <p class="text-center">This actor has no programs.</p>
            <% } else { %>

                <div class="container text-center platform-header">
        
                    <h1 class="text-capitalize"><%= actor.first_name %> <%= actor.last_name %></h1>
                    <p><%= explanation %></p>
        
                </div>

                <ul class="list-unstyled">
                    <% data.forEach(p => { %>
                        <li class="md-4">

                            <div class="conatiner text-center">

                                <img src="/images/<%= p.img_url %>" alt="<%= p.title %> poster" class="program-thumb">
                                <h3><a href="/program/<%= p.program_id %>"><%= p.title %></a></h3>
                                <p>Released: <%= p.yr_released %></p>

                            </div>
                        </li>
                    <% }) %>
                </ul>
            <% } %>

        </div>

    </div>

</main>

<%- include('../partials/footer') %>