<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container">

        <nav class="nav justify-content-center">

            <a href="/" class="nav-link">Home</a>

            <a href="/actor-form" class="nav-link">Actor Form</a>

        </nav>

        <div class="container">
            <p class="background-container">Total Actors: <%= count %></p>
        </div>

    </div>

    <div class="container">

        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-5 g-3">

            <% actors.forEach(actor => { %>
                
                <div class="col">

                    <div class="container background-container">

                        <img src="/images/<%= actor.img_url %>" id="actorImg" alt="<%= actor.first_name %> <%= actor.last_name %> photo" class="img-fluid card-img-top actor-img">
    
                        <div class="container">
    
                            <div class="name text-capitalize">
    
                                <p><%= actor.first_name %> <%= actor.last_name %></p>
    
                            </div>
    
                            <div class="container actors-programs">
    
                                <a href="/actor/<%= actor.actor_id %>/programs" class="programs">Programs</a>
    
                            </div>
                        </div>

                    </div>
                </div>
    
            <% }) %>

        </div>

    </div>

    <!-- pagination controls -->

    <div class="pagination">

        <% if (pagination.hasPrevPage) { %>

            <a href="/actors?page= <%= pagination.currentPage - 1 %>"> ← Prev </a>

        <% } %>

        <span>Page <%= pagination.currentPage %> of <%= pagination.totalPages %></span>

        <% if (pagination.hasNextPage) { %>
         
            <a href="/actors?page= <%= pagination.currentPage + 1 %>"> Next → </a>

        <% } %>

    </div>

</main>

<%- include('../partials/footer') %>