<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="row">

            <% if (data.length === 0) { %>
                <p class="text-center background-container">This director has no programs.</p>
            <% } else { %>

                <div class="background-container">

                    <div class="container text-center platform-header">
            
                        <h1 class="text-capitalize"><%= director.first_name %> <%= director.last_name %></h1>
                        <p><%= explanation %></p>
            
                    </div>
    
                    <ul class="list-unstyled">
                        <% data.forEach(p => { %>
                            <li class="md-4">
    
                                <div class="container text-center">
    
                                    <img src="/images/<%= p.img_url %>" alt="<%= p.title %> poster" class="img-thumbnail rounded mx-auto d-block">
                                    <h3><a href="/program/<%= p.program_id %>"><%= p.title %></a></h3>
                                    <p>Released: <%= p.yr_released %></p>
    
                                </div>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

        </div>

    </div>

</main>

<%- include('../partials/footer') %>