<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container mt-4">

        <div class="row row-cols-2 row-cols-md-4 g-4">

            <% fun_facts.forEach(fact => { %>

                <a href="/program/<%= fact.program_id %>">

                    <div class="col">
                        <div class="card p-3 shadow-sm">
    
                            <h4><%= fact.title %></h4>
                            <p><%= fact.fun_fact %></p>
                        </div>
                    </div>

                </a>
                
            <% }) %>
        </div>
    </div>

</main>

<%- include('../partials/footer') %>