<%- include('../partials/header') %>

<main class="main" id="main">

    <% if (programs.length === 0) { %>
        <p class="text-center background-container">
            No programs available on this streaming platform.
        </p>
    <% } else { %>
            
        <div class="container text-center platform-header">
        
            <h1 class="text-capitalize"><%= streaming_platform.streaming_platform %></h1>
            <p><%= explanation %></p>
        
        </div>
        
    <div class="container program-grid">

        <div class="row row-cols-2 row-cols-md-2 row-cols-lg-5 g-3">

            <% programs.forEach(program => { %>

                <div class="col">
                        
                    <div class="card h-100" id="programCard">

                        <a href="/program/<%= program.program_id %>" class="single-program-link">
    
                            <img src="/images/<%= program.img_url %>" id="programPoster" alt="<%= program.title %> poster" class="img-fluid card-img-top">
                                
                        </a>

                        <div class="card-body details">
    
                            <h2 class="card-title" id="programTitle">
                                <%= program.title %>
                            </h2>
    
                            <p class="card-text" id="yearReleased">
                                Year Released: <%= program.yr_released %>
                            </p>

                            <p class="card-text" id="programRating">
                                        Rating: <%= program.program_rating %>
                                    </p>
    
                                    <p class="card-text" id="robinsRating">
                                        Robin's Rating: <%= program.robins_rating %>
                                    </p>

                        </div>
    
                        <div class="card-footer">
        
                            <p class="text-body-secondary">
                                <a href="https://www.imdb.com/title/<%= program.IMDb_id %>" 
                                    class="btn btn-primary"
                                    target="_blank"
                                    id="imdbLink"
                                    rel="noopener noreferrer">

                                    IMDb
        
                                </a>
        
                                <a href="<%= program.wikipedia_url %>" 
                                    class="btn btn-primary"
                                    target="_blank"
                                    id="wikiUrl"
                                    rel="noopener noreferrer">

                                    Wikipedia
                                        
                                </a>
                            </p>
                        </div>
                                
                    </div>
                            
                        
                </div>
                     
            <% }) %>
        </div>

    </div>

    <!-- pagination controls -->

    <div class="pagination">

        <% if (pagination.hasPrevPage) { %>

            <a href="/streaming-platform/<%= streaming_platform.streaming_platform_id %>/programs?page= <%= pagination.currentPage - 1 %>"> ← Prev </a>

        <% } %>

        <span>Page <%= pagination.currentPage %> of <%= pagination.totalPages %></span>

        <% if (pagination.hasNextPage) { %>
         
            <a href="/streaming-platform/<%= streaming_platform.streaming_platform_id %>/programs?page= <%= pagination.currentPage + 1 %>"> Next → </a>

        <% } %>

    </div>

    <% } %>
</main>

<%- include('../partials/footer') %>