<%- include('../partials/header') %>

<main class="main" id="main">

    <div class="container">

        <nav class="nav justify-content-center">

            <a href="/" class="nav-link">Home</a>

            <a href="/streaming-platform-create" class="nav-link">Create a Streaming Platform</a>

            <!-- <a href="/streaming-platform-update" class="nav-link">Update a Streaming Platform</a> -->

        </nav>

    </div>

    <div class="container streaming-grid">

        <div class="row row-cols-2 row-col-md-2 row-cols-lg-5 g-3" id="platformRow">

            <% platforms.forEach(platform => { %>
             
                <div class="col">
    
                    <h2 class="streaming-platform-name">
                        <%= platform.streaming_platform %>
                    </h2>

                    <div class="container">

                        <a href="/streaming-platform/<%= platform.streaming_platform_id %>/programs" class="single-platform-link">
                            Programs
                        </a>
                    </div>

                    <div class="container">

                        <a href="/streaming-platform/<%= platform.streaming_platform_id %>/update">
                            Update 
                        </a>
                    </div>

                </div>
            <% }) %>

        </div>
    </div>

</main>

<%- include('../partials/footer') %>